<div class="row clearfix">
  <div class="panel panel-info">
    <div class="panel-title">
      <h2>Product info:</h2>
    </div>
    <div class="panel-body">
      <h3><%= @product.name %></h3>
      <h4> <%= @product.description %></h4>
      <%= image_tag @product.image %>
    </div>
  </div>
<div>


<% if is_admin? %>
<div class="panel panel-info">
  <div class="panel-body">
    <p><%= link_to "Edit", edit_product_path(@product) %></p>
    <p><%= link_to "Delete", product_path(@product),
                             :data => {:confirm => "You sure?",
                                       :method => "delete"} %></p>
    <p><%= link_to "Return to products", products_path %></p>
  </div>
</div>
<% end %>
