<!DOCTYPE html>
<html>
  <head>
    <title>EStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>

  </head>

  <body>
    <div class="nav">
        <ul>
          <div class="nav-left">
            <li class="home"><%= link_to "Home", root_path %></li>
            <% if current_user %>
              <li class="products"><%= link_to "Products", products_path %></li>
            <% end %>
            <% if current_user %>
              <li class="products"><%= link_to "My Cart", cart_path %>
                <% if current_order %>
                  (<%= current_order_quantity %>)
                <% else %>
                  (0)
                <% end %>
              </li>
            <% end %>
          </div>
          <div class="nav-right">
          <% if current_user %>
              <li class="user">
                <span class="email_label"><%= current_user.email %></span>
                <% if is_admin? %>
                  <span class="admin_label">(ADMIN)</span>
                <% end  %>
              </li>
              <li>  <%= link_to "Sign out", destroy_user_session_path, method: 'delete' %> </li>
          <% else %>
              <li><%= link_to "Sign in", new_user_session_path %> | <%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
          </div>
        </ul>
      </div>

    <div class="jumbotron">

    </div>


    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>

  </body>
</html>
